/*DEFAULT==============
===================================*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    margin: 0 auto;
}

.hamburger {
    display: none;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    padding: 5px;
    background: #FFFFFF;
    border-radius: 25%;
}
.hamburger > span{
    display: none;
    position: absolute;
    height: 3px;
    width: 20px;
    z-index: 2;
    background: #171819;
}

.hamburger span::after {
    position: absolute;
    top: 8px;
    left: 0;
    content: '';
    height: 3px;
    width: 20px;
    background: #171819;
}

.hamburger span::before {
    position: absolute;
    top: 16px;
    left: 0;
    content: '';
    height: 3px;
    width: 20px;
    background: #171819;
} 

a {
    text-decoration: none;
}

.container {
    max-width: 66%;
    margin: 0 auto;
    text-align: center;
    font-size: 10px;
}

.button {
    height: 4em;
    width: 15em;
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: calc((100vh / 100) + 2px);/*13px;*/
    line-height: 18px;
    text-align: center;    
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    border: none;
    background: #00A4E5;
}

.button:hover {
    background: #00ff00;
}

.simple-text {
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: calc((100vh / 100) + 2   px);/*11px;*/
    line-height: 15px;
    letter-spacing: 0.846154px;
    color: #FFFFFF;
}

.simple-text__bold {
    font-weight: 600;
}

.simple-text__large-bold {
    font-weight: 700;
    font-size: calc((100vw / 100) + 10px);/*20px;*/
    line-height: 27px;
}

.simple-text__largest {
    font-weight: 800;
    font-size: calc((100vh / 100) + 15px);/*24px;*/
    line-height: 29px;
}

.logo-text {
    font-family: 'Bebas Neue', cursive;
    color: #FFFFFF;
}

.simple-text__dark {
    color: #48555B;
}

.simple-text__uppercase {
    text-transform: uppercase;
}

.text-line-height__toll {
    line-height: 23px;
}

.simple-text__word-wrap {
    /*white-space: pre-line;*/
    max-width: 405px;
}

.line {
    display: inline-block;
    height: 2px;
    width: 50px;
    background:  #00A4E5;
}

/*HEADER===============
===================================*/

.header {
    position: relative;
    height: 768px;
    background: url(../img/backgrounds/background_header.svg) no-repeat center/cover;/*cover -- для равномерного заполнения блока*/
}

.header .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.logo-text span {
    color: transparent;
}

.triangle {
    position: relative;
}

.triangle:after {
    position: absolute;
    top: 5px;
    left: 0;
    content: '';
    width: 0px; 
    height: 0px;
    margin-right: 2px; 
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent; 
  
    border-right:8px solid #00A4E5;
}

.header-text__small {
    margin-top: 41px;
    font-size: calc((100vh /100) + 10px); /*25px;*/
    font-weight: 400;
    letter-spacing: 2px;
}

.header-text__large {
    font-size: calc((100vw /100) + 40px);/*60px;*/
    letter-spacing: 5.70937px;
}

.header-description {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: calc((100vh /100) + 8px);/*16px;*/
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

.button-scroll {
    height: 15px;
    margin-bottom: 71px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-weight: 600;
    font-size: calc((100vh /100) + 4px);/*11px;*/
    line-height: 15px;
    letter-spacing: 3.7px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    background-color: transparent;
}

.button-scroll:hover {
    color: #00ff00;
}

/*NAVIGATION===============
===================================*/

.navigation {
    /*height: 65px;*/
}

.navigation .container {
    display: flex;
    position: relative;
    padding: 0.5em 0;
    justify-content: space-between;
    align-items: center;
    /*height: 100%;*/
}

.navigation .container li {
    display: inline-block;
    font-size: 12px;                  /*!!!!!!!!!!!!!!!!!!!!!!!!!!*/
}

.logo-text__dark {
    margin: 0;
    color: #141A20;
}

.about-btn__margin {
    margin: 0px 4.25em 0px 4.8em;
}

.work-btn__margin {
    margin: 0px 3em;
}

.navigation-link:hover {
     color: #00A4E5;;
}

.items {
    display: block;
}
/*MAIN===============
===================================*/

.story-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 5.3em;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.story-description {
    max-width: 50%;
}

.light-text {
    color: #00A4E5;;
}

.description__margin {
    margin: 3em 0;
}

.story-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.book {
    height: 22.5em;
    width: 14em;
    margin: 0 1em;
    padding: 1.5em;
    margin: 0.5em;
}

.plan {
    background: url(../img/folder_image/plan.svg) no-repeat center;
}

.manage {
    background: url(../img/folder_image/manage.svg) no-repeat center;
}

.build {
    background: url(../img/folder_image/deliver.svg) no-repeat center;
}

.capabilities {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.capabilities-text {
    max-width: 43.3em;
    margin-left: 17em;
}

.show-services {
    display: flex;
    flex-wrap: wrap;
}

.service-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.service-card {
    width: 29.5em;
    margin: 8em 0px 11.5em;
    border: 1px solid #E6E6E6;
}

.service-card:nth-child(2) {
    margin: 8em 1.4em 11.5em;
}

.service-card__project {
    background: url(../img/icon/project_icon.svg) no-repeat 2.3em 3.8em;
}

.service-card__structure {
    background: url(../img/icon/stucture_icon.svg) no-repeat 2.3em 3.8em;
}

.service-card__factory {
    background: url(../img/icon/factory_icon.svg) no-repeat 2.3em 3.8em;
}

.card-title {
    margin: 9em 0em 1.3em 2.3em;
    font-style: normal;
    font-weight: bold;
    font-size: calc(100vh / 100 + 6px);    /*16px;*/
    text-align: left;
    line-height: 2.4em;
    letter-spacing: 0.426667px;
}

.card-text {
    margin-left: 2.3em;
    font-size: calc(100vh / 100 + 2px);/*13px;*/
    line-height: 2.3em;
    letter-spacing: 0.1875px;
    text-align: left;
}

/*SERVICE===============
===================================*/

.service {
    background: url(../img/backgrounds/background_services.svg) no-repeat center/cover;
}

.service .container {
    padding-bottom:  23.1em;
}

.service-title {
    height: 7.2em;
    width: 35em;
    padding: 12em auto 3.5em auto;
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: calc(100vh / 100 + 20px);/*30px;*/
    line-height: 36px;
    letter-spacing: 0.15px;
    color: #48555B;
}

/*FEEDBACK===============
===================================*/

.feedback {
    padding: 3em 0;
    background: #171819;
}

.feedback .container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.feedback-text {
    margin-right: 7em;
    font-family: 'Open Sans',sans-serif;
    font-weight: bold;
    font-size: calc(100vh / 100 + 11px);/*22px;*/
    line-height: 3em;
    text-align: center;
    letter-spacing: 0.846154px;
    color: #FFFFFF;
}

.form {
    display: flex;
}

.form input {
    height: 3.2em;
    width: 25em;
    padding: 1.1em 1em 1em 1.6em;
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: calc(100vh / 100 + 5px);/*14px;*/
    letter-spacing: 0.07px;
    color: #48555B;
    border: none;
}

/*CONTACTS===============
===================================*/

.contact {
    background: #141A20;;
}

.contact .container {
    display: flex;
    flex-wrap: wrap;
    padding: 4.2em 0 4em 0;
    justify-content: space-around;
    align-items: top;
    text-align: left;
}

.contact li {
   display: block;
}

.link__margin {
    margin: 0   3.8em 0 3.4em;
}

.header-text__margin {
    margin: 0em;
}

.contact-text__wight {
    width: 25em;
}

.contact-field__wight {
    width: 12.8em;
}

.logo-text__margin {
    margin: 1.9em 0em 1.6em 0em;
}

.text__uppercase {
    text-transform: uppercase;
}

.simple-text__spacing {
    letter-spacing: 0.1875px;
}

.link-wrap {
    display: flex;
    padding-top: 1em;
}

.social-link li {
    display: inline;
    width: 1.2em;
    height: 1.2em;
}

.social-link__margin {
    margin: 0 2.5em;
}

/*FOOTER===============
===================================*/

.footer {
    padding: 2.2em 0;
    text-align: center;
    background: #171819;
}

.copyright {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: calc(100vh / 100 + 1px);/*11px;  /*calc(0.2em + 1vw); для мобилок*/
    line-height: 15px;
    letter-spacing: 0.846154px;
    color: #FFFFFF;
}
