/*DEFAULT==============
===================================*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    margin: 0 auto;
}

.hamburger {
    display: none;
    position: absolute;
    top: 1.5em;
    right: 1.5em;
    width: 3em;
    height: 3em;
    padding: 0.5em;
    background: #FFFFFF;
    border-radius: 25%;
}
.hamburger span{
    display: none;
    position: absolute;
    height: 0.3em;
    width: 2em;
    z-index: 2;
    background: #171819;
}

.hamburger span::after {
    position: absolute;
    top: 0.8em;
    left: 0;
    content: '';
    height: 0.3em;
    width: 2em;
    background: #171819;
}

.hamburger span::before {
    position: absolute;
    top: 1.6em;
    left: 0;
    content: '';
    height: 0.3em;
    width: 2em;
    background: #171819;
} 

a {
    text-decoration: none;
}

.container {
    max-width: 66%;
    margin: 0 auto;
    text-align: center;
    font-size: 10px;
}

.button {
    height: 4em;
    width: 15em;
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: calc((100vh / 100) + 2px);
    line-height: 18px;
    text-align: center;    
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    border: none;
    background: #00A4E5;
}

.button:hover {
    background: #00ff00;
}

.simple-text {
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: calc((100vh / 100) + 2px);
    line-height: 15px;
    letter-spacing: 0.846154px;
    color: #FFFFFF;
}

.logo-text {
    font-family: 'Bebas Neue', cursive;
    color: #FFFFFF;
}

.simple-text__dark {
    color: #48555B;
}

/*HEADER===============
===================================*/

.header {
    position: relative;
    height: 768px;
    background: url(../img/backgrounds/background_header.svg) no-repeat center/cover;
}

.header .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.logo-text span {
    color: transparent;
}

.triangle {
    position: relative;
}

.triangle:after {
    position: absolute;
    top: 0.2em;
    left: 0;
    content: '';
    width: 0em; 
    height: 0em;
    margin-right: 0.2em; 
    border-top: 0.4em solid transparent;
    border-bottom: 0.4em solid transparent; 
  
    border-right: 0.3em solid #00A4E5;
}

.header-text__small {
    margin-top: 4.1em;
    font-size: calc((100vh /100) + 10px); 
    font-weight: 400;
    letter-spacing: 2px;
}

.header-text__large {
    font-size: calc((100vw /100) + 40px);
    letter-spacing: 5.70937px;
}

.header-description {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: calc((100vh /100) + 8px);
    line-height: 2.2em;
    text-align: center;
    color: #FFFFFF;
}

.button-scroll {
    height: 1.5em;
    width: max-content;
    margin: 0 auto 7.1em auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-weight: 600;
    font-size: calc((100vh /100) + 4px);
    line-height: 1.5em;
    letter-spacing: 3.7px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    background-color: transparent;
}

.button-scroll:hover {
    color: #00ff00;
}

/*NAVIGATION===============
===================================*/

.navigation .container {
    display: flex;
    position: relative;
    padding: 1.5em 0;
    justify-content: space-between;
    align-items: center;
}

.navigation-title {
    font-size: calc((100vh /100) + 10px); 
    font-weight: 400;
    letter-spacing: 2px;
    color: #141A20;
}

.navigation .container li {
    display: inline-block;
    font-size: 1.2em;                  /*!!!!!!!!!!!!!!!!!!!!!!!!!!*/
}

.items li:nth-child(2) {
    margin: 0px 4.25em 0px 4.8em;
}

.items li:nth-child(4) {
    margin: 0px 3em;
} 

.navigation-link {
    font-weight: 600;
    text-transform: uppercase;
    color: #48555B;
}

.navigation-link:hover {
     color: #00A4E5;;
}

.items {
    display: block;
}
/*MAIN===============
===================================*/

.main .container {
    padding-top: 1.5em;
}

.main-title {
    position: relative;
    font-weight: 600;
    text-transform: uppercase;
    color: #48555B;
}

.main-title::after {
    position: absolute;
    top: 1.5em;
    left: 48%;
    content: '';
    height: 2px;
    width: 50px;
    background:  #00A4E5;
}

.story-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 5.3em;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.story-description {
    max-width: 50%;
    /**/
}

.story-title {
    letter-spacing: 0.1875px;
    color: #48555B;
    font-weight: 700;
    font-size: calc((100vw / 100) + 10px);
    line-height: 27px;
}

.story {
    margin: 3em 0;
    line-height: 2.3em;
    letter-spacing: 0.1875px;
    color: #48555B;
}

.light-text {
    color: #00A4E5;;
}

.description__margin {
    margin: 3em 0;
}

.story-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.book {
    height: 22.5em;
    width: 14em;
    margin: 0 1em;
    padding: 1.5em;
    margin: 0.5em;
}

.book-text {
    font-weight: 800;
    font-size: calc((100vh / 100) + 15px);
    line-height: 29px;
}

.plan {
    background: url(../img/folder_image/plan.svg) no-repeat center;
}

.manage {
    background: url(../img/folder_image/manage.svg) no-repeat center;
}

.build {
    background: url(../img/folder_image/deliver.svg) no-repeat center;
}

.capabilities {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.capabilities-title {
    display: block;
    position: relative;
    font-weight: 700;
    font-size: calc((100vh / 100) + 7px);
    text-transform: uppercase;
    color: #48555B;
}

.capabilities-title::after {
    position: absolute;
    top: 1.5em;
    left: 0;
    content: '';
    height: 2px;
    width: 50px;
    background:  #00A4E5;
}

.capabilities-text {
    display: block;
    max-width: 39em;
    color: #48555B;
}

.show-services {
    display: flex;
    flex-wrap: wrap;
}

.service-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.service-card {
    width: 29.5em;
    margin: 8em 0px 11.5em;
    border: 1px solid #E6E6E6;
}

.service-card:nth-child(2) {
    margin: 8em 1.4em 11.5em;
}

.service-card__project {
    background: url(../img/icon/project.svg) no-repeat 2.3em 3.8em;
}

.service-card__structure {
    background: url(../img/icon/stucture.svg) no-repeat 2.3em 3.8em;
}

.service-card__factory {
    background: url(../img/icon/factory.svg) no-repeat 2.3em 3.8em;
}

.card-title {
    margin: 9em 1em 1em 1.5em;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    font-size: calc(100vh / 100 + 6px);  
    text-align: left;
    line-height: 2.4em;
    letter-spacing: 0.426667px;
    color: #48555B;
}

.card-text {
    max-width: 405px;
    margin-left: 2.3em;
    font-size: calc(100vh / 100 + 2px);
    line-height: 2.3em;
    letter-spacing: 0.1875px;
    text-align: left;
    color: #48555B;
}

/*SERVICE===============
===================================*/

.service {
    background: url(../img/backgrounds/background_services.svg) no-repeat center/cover;
}

.service .container {
    padding-bottom:  23.1em;
}

.service-title {
    height: 7.2em;
    max-width: 12em;
    margin:0 auto;
    padding: 12em 0 4.5em 0;
    font-family: 'Open Sans',sans-serif;
    font-size: calc(100vh / 100 + 20px);
    line-height: 36px;
    letter-spacing: 0.15px;
    color: #48555B;
}

/*FEEDBACK===============
===================================*/

.feedback {
    padding: 3em 0;
    background: #171819;
}

.feedback .container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.feedback-text {
    margin-right: 7em;
    font-family: 'Open Sans',sans-serif;
    font-weight: bold;
    font-size: calc(100vh / 100 + 11px);
    line-height: 3em;
    text-align: center;
    letter-spacing: 0.846154px;
    color: #FFFFFF;
}

.form {
    display: flex;
}

.form input {
    height: 3.2em;
    width: 25em;
    padding: 1.1em 1em 1em 1.6em;
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: calc(100vh / 100 + 5px);
    letter-spacing: 0.07px;
    color: #48555B;
    border: none;
}

/*CONTACTS===============
===================================*/

.contact {
    background: #141A20;;
}

.contact .container {
    display: flex;
    flex-wrap: wrap;
    padding: 4.2em 0 4em 0;
    justify-content: space-around;
    text-align: left;
}

.contact-logo {
    margin: 1.9em 0em 1.6em 0em;
    font-size: calc((100vh /100) + 10px); 
    font-weight: 400;
    letter-spacing: 2px;
}

.contact li {
   display: block;
}

.link-text {
    font-weight: 600;
    text-transform: uppercase;
}

.link__margin {
    margin: 0  3.8em 0 3.4em;
}

.header-text__margin {
    margin: 0em;
}

.contact-text__wight {
    width: 25em;
}

.contact-field__wight {
    width: 12.8em;
    white-space: pre-line;
}

.text__uppercase {
    text-transform: uppercase;
}

.simple-text__spacing {
    letter-spacing: 0.1875px;
}

.link-wrap {
    display: flex;
    padding-top: 1em;
}

.link-wrap li {
    padding-bottom: 0.7em;
}

.social-link li {
    display: inline;
    width: 1.2em;
    height: 1.2em;
}

.social-link__margin {
    margin: 0 2.5em;
}

/*FOOTER===============
===================================*/

.footer {
    padding: 2.2em 0;
    text-align: center;
    background: #171819;
}

.copyright {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: calc(100vh / 100 + 1px);
    line-height: 15px;
    letter-spacing: 0.846154px;
    color: #FFFFFF;
}