@media (max-width:1280px)  {
    .container {
        max-width: 73%;
    }

    .triangle:after {
        top: 0.15em;
        border-top: 0.41em solid transparent;
        border-bottom: 0.41em solid transparent;
        border-right: 0.3em solid #00A4E5;
    }

    .simple-text__largest {
        font-size: calc(100vh / 100 + 18px);
    }

    .card-text {
        font-size: calc(100vh / 100 + 4px);
    }

    .form input {
        height: 3em;
    }

    .copyright {
        font-size: calc(100vh / 100 + 3px);
    }
}


@media (max-width: 825px){

    .hamburger {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .items {
        display: none;
    }

    .hamburger span{
        /*display: block;*/
    }
    .header {
        height: 100vh;
    }

    .triangle:after {
        top: 0.2em;
        border-top: 0.4em solid transparent;
        border-bottom: 0.4em solid transparent; 
        border-right: 0.3em solid #00A4E5;
    }

    .button-scroll{
        margin: 0 auto 3.1em auto;
    }

    .navigation {
        display: none;
    }

    .simple-text {
        font-size: calc(100vh / 100 + 6px);
    }

    .book-text {
        font-size: calc(100vh / 100 + 18px);
    }

    .story-title {
        font-size: calc(100vh / 100 + 8px);
    }

    .main .container {
        padding-top: 1.5em;
    }

    .main-title::after {
        position: absolute;
        top: 1.5em;
        left: calc(50% - 25px);
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        content: '';
        height: 2px;
        width: 50px;
        background:  #00A4E5;
    }

    .story-container {
        text-align: center;
        justify-content: center;
    }

    .story-description {
        max-width: 100%;
    }

    .story-content {
        flex-direction: column;
    }

    .service-title {
        width: 100%;
        height: max-content;
        margin: 0 auto;
        padding: 1.5em 0em;
    }

    .plan {
        height: auto;
    }

    .build {
        height: auto;
    }

    .manage {
        height: auto;
    }

    .capabilities {
        flex-wrap: wrap;
        text-align: center;
    }

    .capabilities-text {
        margin: 1.5em 0;
    }

    .capabilities {
        margin-top: 1.5em;
        justify-content: center;
    }

    .capabilities-title::after {
        position: absolute;
        top: 1.5em;
        left: calc(50% - 25px);
        content: '';
        height: 2px;
        width: 50px;
        background:  #00A4E5;
    }

    .service-card {
        height: auto;
        margin: 1.5em 0;
        padding-bottom: 1em;
    }

    .card-title {
        font-size: calc(100vh / 100 + 8px); 
    }

    .card-text {
        font-size: calc(100vh / 100 + 6px);
    }

    .service-card:nth-child(2) {
        margin: 1.5em 0;
    }

    .service .container{
        padding-bottom: 15px;
    }

    .feedback {
        padding: 1.5em 0;
    }

    .feedback-text {
        margin: 0;
        padding: 0 0 1.5em 0;
    }

    .form {
        flex-wrap: wrap;
        justify-content: center;
    }

    .form input {
        margin-bottom: 1.5em;
    }

    .contact .container {
        text-align: center;
    }

    .list:nth-child(1) {
        padding-bottom: 1.5em;
    }

    .list:nth-child(2) {
        padding-bottom: 1.5em;
    }

    .link-wrap__social-icon--flex{
        flex-direction: column;
        align-items: center;
    }

    .link-wrap__social-icon--flex div:nth-child(2) {
        padding-top: 1em;
    }

    .link-wrap li {
        padding-bottom: 1em;
    }

    .copyright {
        font-size: calc(100vh / 100 + 4.5px);
    }
}

@media (max-height:425px) {
    
    .button-scroll {
        font-size: calc((100vw / 100) + 5px);
        margin: 0 auto 2.1em auto;
    }

    .button {
        height: 5em;
    }

    .main-title::after {
        position: absolute;
        top: 1.5em;
        left: 45%;
        content: '';
        height: 2px;
        width: 50px;
        background:  #00A4E5;
    }

    .card-title {
        margin-top: 12.5em;
    }

    .header-text__small {
        font-size: calc((100vw / 100) + 10px);
    }

    .simple-text {
        font-size: calc(100vw / 100 + 5px);
    }

    .book-text {
        font-size: calc(100vh / 100 + 22px);
    }

    .story-title {
        font-size: calc(100vw / 100 + 10px)
    }

    .form input {
        height: 3.3em;
    }

    .copyright {
        font-size: calc(100vw / 100 + 5px);
    }
}